<div class="container">

    <div class="jumbotron" id="jumbotron">
        
        <h1>Eat-Da-Burger</h1>
        <img src = "assets/icons/burger.png" id= "burger"></img>

        <h2>Cook your burger then eat it!</h2>

        <form class="create-form">
            <div class="form-group">
                <label for="newburger">Add a burger</label>
                 <input type="text" id="newburger" name="burger">
                <button type="submit" id="addburger" class="addburger">Cook it!
                <img src="assets/icons/bbq.png"> 
                </button> 
            </div>
        </form>
        </panel>
    </div>

    <div class="row">
         <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading" id="lefthead"><h4>Burgers waiting to be devoured</h4>
                </div>
                <div class="panel-body">           
                    
                    {{!-- Burgers waiting to be devoured  --}}
                    <ul>
                        {{#each burgers}}
                        {{#unless devoured}}
                        <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                         <button type="button" id="eatburger" class="eatburger"
                         data-id="{{this.id}}"data-newDevoured="{{devour}}">Devour it!
                         <img src="assets/icons/teeth.png">
                         </button>
                        <hr>
                        {{/unless}}
                        {{/each}}
                    </ul>
                    </div>
                </div>
            </div>
                   
                   {{!-- Devoured Burgers --}}
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading" id="righthead"><h4>Devoured Burgers</h4>
                            </div>
                            <div class="panel-body">
                                <ul>
                                    {{#each burgers}}
                                    {{#if devoured}}
                                    <span><strong> {{this.id}} - {{this.burger_name}} </strong></span>
                                    <button type="button" id="trashbutton" class="trashburger" 
                                        data-id="{{this.id}}" data-newDevoured="{{devour}}">Trash it!
                                        <img src="assets/icons/garbage.png">
                                    </button>
                                     <hr>
                                    {{/if}}
                                    {{/each}}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            
            {{!-- footer --}}
            <div class="row">
                <div class="col-sm-12">
                    <footer>
                       <p>Made with <img class = "love" src="assets/icons/heart.png"> by Jessica Helft</p>
                        <div>Icons made by <a href="https://www.flaticon.com/authors/freepik"
                                title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"
                                title="Flaticon">www.flaticon.com</a></div>
                    </footer>
                </div>
            </div>